header p{
	font-size: 20px;
}

header a {
	text-decoration: none;
	color: black;
}
.title {
	margin-left:20px;
}
.goback {
	text-decoration: none; 
	color: black;
}

.goback span{
	margin-top: 20px;
	font-size:40px;
	color: black;
}

hr {
	width: 100%;
}
section {
	margin: 0 auto;
}

.btn-login {
	width: 100%;
	padding: 10px; 
	background-color: #EA0B8C;
	color: #fff;
}
section a {
	text-decoration: none;
	font-size: 30px;
}
footer {
	position: absolute;
	bottom:0px;
    right:0px;
    left: 0px;
	margin-bottom: 10px;
}


.input-box {
  position: relative;
}
.input-box span{
  display: none;
  background-color: rgba(51,51,51,0.8);
  padding: 5px;
  position: absolute;
  left: 105%;
  top: 8px;
  width: 200px;
  color: white;
}

.input-box span:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid rgba(51,51,51,0.8);
  border-bottom: 5px solid transparent;
  position: absolute;
  right: 100%;
  top: 10px;
}
